<div class="course">
  <h3><%= h(course.name) %></h3>
  <p><%= h(course.description) %></p>
  <ul id="sortable">
    <% for lesson in course.lesson %>
      <li id="lesson_<%= lesson.id %>"><%= h lesson.name %></li>
    <% end %>
  </ul>
  <%= sortable_element("sortable", :url => { :action => "order" }) %>
</div>
