<p>
  <b>Type:</b>
  <%=h @lesson.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @lesson.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @lesson.description %>
</p>

<p>
  <b>Course:</b>
  <%=h @lesson.course_id %>
</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>