<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Author:</b>
  <%=h @course.author %>
</p>

<p>
  <b>Description:</b>
  <%=h @course.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @course.price %>
</p>

<p>
  <b>Text:</b>
  <%=h @course.text %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
