<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>LEARN!</title>
	<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css"> -->
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag '../ext/resources/css/ext-all.css' %>	
	<%= stylesheet_link_tag '../css/icons.css' %>
	<%= stylesheet_link_tag '../css/filetree.css' %>
  <%= stylesheet_link_tag '../css/filetype.css' %>
	<%= stylesheet_link_tag '../css/famflag.css' %>
	<%= stylesheet_link_tag '../stylesheets/application.css' %>

	<%= javascript_include_tag :defaults %>

	<%= javascript_include_tag '../ext/adapter/prototype/ext-prototype-adapter.js' %>
	<%= javascript_include_tag '../ext/ext-all-debug.js' %>
	<%= javascript_include_tag '../js/Ext.ux.form.BrowseButton.js' %>
	<%= javascript_include_tag '../js/Ext.ux.FileUploader.js' %>
	<%= javascript_include_tag '../js/Ext.ux.UploadPanel.js' %>
	<%= javascript_include_tag '../js/Ext.ux.FileTreeMenu.js' %>
	<%= javascript_include_tag '../js/Ext.ux.FileTreePanel.js' %>

	<%= javascript_include_tag 'Ext.ux.Learn.Editor.js' %>
	<%= javascript_include_tag 'Ext.ux.Learn.Terminal.js' %>
	
	<%= javascript_include_tag 'app.js' %>
	
	<title id="page-title">Learn</title>
</head>
<body>
	<div id='lesson_info'>
		<%= yield %>
	</div>
</body>
</html>